.medias {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: #eee;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .4);
}

.medias+.medias{
    margin-top: 10px;
}

.user_icon {
    width: 50px;
    height: auto;
}

.menu li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

.menu li+li {
  margin-left : 2em;
}
