<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{app.request.getRootUri}}/css/style.css" media="all">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  </head>
  <body>
    {% include 'menu.twig' %}
    <header>
      <h1>{{title}}</h1>
      <p>{{lead}}</p>
    </header>
    {% if form %}
    {% include form %}
    {% endif %}

    {% for i in medias %}
    <div class="medias">
      <div class="thumbnail">
        <a href="{{i.link}}">
          <img src="{{i.images.low_resolution.url}}" alt="">
        </a>
      </div>
      <div class="user">
        <img class="user_icon" src="{{i.user.profile_picture}}" alt="{{i.user.username}}">
        {{i.user.username}}
      </div>
      <div class="caption">
        {{i.caption.text | nl2br}}
      </div>
      <div class="status">
        Likes: {{i.likes.count}} / Comment: {{i.comments.count}}
      </div>
    </div>
    {% endfor %}
  </body>
</html>
