{% set root_url = app.request.getRootUrl %}
<nav class="menu">
  <ul>
    <li><a href="{{root_url}}/">Popular</a></li>
    <li><a href="{{root_url}}/user_search">ユーザー検索</a></li>
    <li><a href="{{root_url}}/tag_search">タグ検索</a></li>
    <li><a href="{{root_url}}/korakuenhall">場所のサンプル（後楽園ホール）</a></li>
    <li><a href="http://insta-location-proto.herokuapp.com/">現在地から取得するサンプル</a></li>
  </ul>
</nav>
