<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{app.request.getRootUri}}/css/style.css" media="all">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  </head>
  <body>
    {% include 'menu.twig' %}
    <header>
      <h1>{{title}}</h1>
      <p>{{lead}}</p>
    </header>

    <section>
      <form action="">
        <label for="user-query">username</label>
        <input type="text" id="user-query" name="username" value="{{app.request.get().username}}">
        <input type="submit">
      </form>
    </section>

    <section class="search-results">
      {% for i in users %}
      <a href="{{app.request.getRootUri}}/user_medias?id={{i.id}}">
        <div class="user-data">
          <img src="{{i.profile_picture}}" width="30">
          {{i.username}} {% if i.full_name %}({{i.full_name}}){% endif %}
        </div>
      </a>
      {% endfor %}
    </section>

  </body>
</html>
